/* * {
    box-sizing: border-box;
} */
form {
    display: flex;
   }

input {
    border: unset;
    background: rgb(238, 236, 236);
    padding: 0.5em;
    width: 100%;

}

button {
    cursor: pointer;
}

.btn-submit {
    border: unset;
    background: rgb(94, 94, 244);
    padding: 0.5em;
    color: white;
    cursor: pointer;
    align-items: right;
    margin-left: 0.5em;
    margin-right: 10px;
    margin-top: 10px;
}

.autocomplete-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
}

.autocomplete-list {
    list-style: none;
    padding: unset;
    margin: unset;
    position: absolute;
    width: 100%;
    margin-top: 40px;
}

.autocomplete-list li {
    border: 1px solid rgb(255, 255, 255);
    border-top: unset;
}

/* .autocomplete-list li:hover {
    background: rgb(151, 181, 240);
} */

.autocomplete-list button {
    border: none;
    background: unset;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.5em;
    background-color: rgb(251, 248, 248);
}

.autocomplete-list button:hover {
    background: rgb(226, 226, 255);
}

.container {
    background-color: rgba(255, 255, 255, 0.218);
    height: auto;
    width: auto;
    max-width: 700px;
    margin-top: 100px;
    --bs-gutter-x: unset;

}


h1 {
    color: white;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* .topinputbox{
    margin-top: -340px;
} */

/* #button-addon2 {
    color: white;
    background-color: blue;
} */

body {
    background-color: #00308F;
    font-family: Arial, Helvetica, sans-serif;
}

.country_flag{
    margin-top: 20px;
    width: 300px;
    height: 200px;
}

.currency-box{
margin-top: 20px;
}

.start_currency {
    font-size: larger;
    height: 40px;
    width: 300px;
    margin-right: 15px;
    border: unset;
}

.final_currency {
    font-size: larger;
    height: 40px;
    width: 300px;
    margin-left: 15px;
    border: unset;
}

.amount-input {
    width: 300px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.cur-output {
    width: 300px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.country_info{
    margin-left: 10px;
}

.country_info{
    color: white;
}